<h1>Its Working!</h1>

<form action="" method="POST" role="form">
    <legend>Create A Burger</legend>

    <div class="form-group">
        <label for="">Burger Name</label>
        <input type="text" class="form-control" id="bInput" placeholder="Input field">
         <label for="">Have you eaten it</label>
        <input type="checkbox" class="form-control" id="eInput" placeholder="Input field">
    </div>

    

    <button type="submit" id="sButton" class="btn btn-primary">Submit</button>
</form>
